.cards {
    margin-right: 685px;
}
.card {
    height: 80px;
}
.data-body {
    padding-top: 9px;
}
.data-label {
    margin-bottom: 1px;
    font-size: 14px;
    font-weight: bold;
}
.data-text {
    text-align: center;
    font-size: xx-large;
    color: rgb(102, 131, 179);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* pie */
.pie-chart {
    margin-top: 18px;
    float: left;
    width: 540px;
    height: 420px;
}
#pie-categories {
    display: block;
    flex: none;
    width: 490px;
    height: 390px;
}
#categories {
    width: 490px;
    height: 390px;
}
/* bar */
.bar-chart {
    position: absolute;
    top: 82px;
    right: 60px;
    width: 660px;
    height: 615px;
}
#bar-top-err {
    display: block;
    flex: none;
    margin-left: 27px;
    width: 560px;
    height: 300px;
}
#top-err {
    width: 560px;
    height: 300px;
}
/* table */
#table-title {
    font-weight: bold;
    font-size: medium;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 5px;
}
.table {
    width: 618px;
    margin-left: 20px;
    border-bottom: 5px solid transparent;
    border-radius: 5px;
}
.t-head, .t-body { display: block; }
.t-head {
    width: 618px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.t-body {
    width: 618px;
    height: 227px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.t-body th {
    font-family: 'Courier New', Courier, monospace;
    vertical-align: middle;
    text-align: center;
}
.t-body td {
    vertical-align: middle;
}
tr {
    border: #ced4da;
}
.t-body th, .t-head th:nth-child(1) {
    width: 50px;
}
.t-body td:nth-child(2), .t-head th:nth-child(2) {
    width: 170px;
}
.t-body td:nth-child(3), .t-head th:nth-child(3) {
    width: 165px;
}
.t-body td:nth-child(4), .t-head th:nth-child(4) {
    width: 175px;
}
.t-body td:nth-child(5), .t-head th:nth-child(5) {
    font-weight: bold;
    width: 50px;
    text-align: center;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgba(50,50,50,0.3);
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
#tableA {
    display: block;
    border-bottom-color: #ffeeee;
}
#tableAA {
    display: none;
    border-bottom-color: #fdf4e0;
}
#tableAAA {
    display: none;
    border-bottom-color: #e0f1f7;
}
#headA, #headA th {
    background-color: #ffeeee;
}
#headAA, #headAA th {
    background-color: #fdf4e0;
}
#headAAA, #headAAA th {
    background-color: #e0f1f7;
}


/* map1 */
.map-average {
    float: left;
    width: 600px;
    height: 615px;
}
#map-error {
    display: block;
    flex: none;
    width: 560px;
    height: 520px;
}
#map-likely {
    display: none;
    flex: none;
    width: 560px;
    height: 520px;
}
#map-potential {
    display: none;
    flex: none;
    width: 560px;
    height: 520px;
}
#mean-err, #mean-likely, #mean-potential{
    width: 560px;
    height: 520px;
}
/* map2 */
.map-percentage {
    float: right;
    margin-right: 8px;
    width: 600px;
    height: 615px;
}
#map-A {
    display: block;
    flex: none;
    width: 560px;
    height: 520px;
}
#map-AA {
    display: none;
    flex: none;
    width: 560px;
    height: 520px;
}
#map-AAA {
    display: none;
    flex: none;
    width: 560px;
    height: 520px;
}
#A-percent, #AA-percent, #AAA-percent {
    width: 560px;
    height: 520px;
}

.btn-group {
    width: 410px;
}
input, label {
    width: 50px;
}
.btn {
    border: none;
    border-radius: 5px 5px;
}


/* mix1 */
.mix-plot-cat {
    float: left;
    width: 600px;
    height: 615px;
}
/* mix2 */
.mix-plot-err {
    float: right;
    margin-right: 8px;
    width: 600px;
    height: 615px;
}


.map-plot {
    float: left;
    width: 600px;
    height: 615px;
    border: transparent;
}
#lad-map {
    padding-left: 0;
}
.list-display {
    float: right;
    margin-right: 8px;
    width: 600px;
    height: 615px;
    border: transparent;
}
.loc-descr{
    font-size: 26px;
}
.loc-letter {
    margin-left: 10px;
    font-size: 20px;
    color: rgb(93, 123, 169);
}
.letters {
    padding-left: 0;
    margin-bottom: 10px;
}
.letters li {
    width: 25px;
    height: 25px;
    display: inline-block;
    list-style-type: none;
    margin-top: 5px;
    text-align: center;
    line-height: 25px;
    background-color: rgb(242, 243, 244);
    color: #64748B;
}
.letters li a {
    display: block;
    width: 25px;
    height: 25px;
    text-decoration: none;
    color: rgb(117, 146, 191);
    font-weight: bold;
}
.letters li:hover {
    background-color: gainsboro;
}
.letters li.selected {
    background-color: rgb(223, 232, 241);
    border-bottom: 3px solid rgb(9, 73, 138);
}
.partial-districts {
    padding-left: 0;
}
.partial-districts li {
    width: 270px;
    height: 10px;
    display: inline-block;
    list-style-type: none;
    /* margin-top: 5px; */
    text-align: center;
    /* line-height: 25px; */
}
.partial-districts li a {
    display: block;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    color: #64748B;
}
.partial-districts li a:hover {
    text-decoration: underline;
}

h3 a {
    color: rgb(117, 146, 191);
    text-decoration: none;
}
.lad-name {
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #585858;
}
.lad-name span {
    font-weight: 600;
}
/* gp lists */
.gp-result {
    display: block;
    height: 70px;
    border: 1px solid #d3cece;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.1);
}
.gp-name {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
}
.gp-name h5 {
    margin-bottom: 0;
}
.gp-name a {
    color: rgb(103, 129, 168);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.gp-name a:hover {
    text-decoration: underline;
}
.gp-name p {
    margin-bottom: 0;
    color: #6e6d6d;
    font-size: 14px;
    font-family: 'Verdana';
}
.gp-website {
    float: right;
    margin-bottom: 0;
}
.gp-url {
    line-height: 70px;
    float: right;
    margin-right: 10px;
    margin-bottom: 0;
}
.gp-url a {
    /* color: rgb(103, 129, 168); */
    color: #8da3ca;
    text-decoration: none;
    /* font-style: italic; */
}
.gp-url a:hover {
    text-decoration: underline;
}

/* pagination */
.bottom {
    margin-bottom: 25px;
}
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.page-item a {
    color: rgb(117, 146, 191);
}
.current a {
    pointer-events: none;
    color: rgb(117, 146, 191);
    background-color: rgb(223, 232, 241);
}