
.cards {
    margin-right: 625px;
}
.card {
    height: 80px;
}
.data-body {
    padding-top: 9px;
}
.data-label {
    margin-bottom: 1px;
    font-size: 14px;
    font-weight: bold;
}
.data-text {
    text-align: center;
    font-size: xx-large;
    color: rgb(102, 131, 179);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bar-chart {
    position: absolute;
    top: 82px;
    right: 60px;
    width: 600px;
    height: 615px;
}
#bar-top-err {
    display: block;
    flex: none;
    width: 560px;
    height: 300px;
}
#top-err {
    width: 560px;
    height: 300px;
}
.pie-chart {
    margin-top: 18px;
    float: left;
    width: 600px;
    height: 420px;
}
#pie-categories {
    display: block;
    flex: none;
    width: 600px;
    height: 390px;
}
#categories {
    width: 560px;
    height: 390px;
}


.map-average {
    float: left;
    width: 600px;
    height: 615px;
}
#map-error {
    display: block;
    flex: none;
    width: 560px;
    height: 520px;
}
#map-likely {
    display: none;
    flex: none;
    width: 560px;
    height: 520px;
}
#map-potential {
    display: none;
    flex: none;
    width: 560px;
    height: 520px;
}
#mean-err, #mean-likely, #mean-potential{
    width: 560px;
    height: 520px;
}


.map-percentage {
    float: right;
    margin-right: 8px;
    width: 600px;
    height: 615px;
}
#map-A {
    display: block;
    flex: none;
    width: 560px;
    height: 520px;
}
#map-AA {
    display: none;
    flex: none;
    width: 560px;
    height: 520px;
}
#map-AAA {
    display: none;
    flex: none;
    width: 560px;
    height: 520px;
}
#A-percent, #AA-percent, #AAA-percent {
    width: 560px;
    height: 520px;
}

.btn-group {
    width: 410px;
}
input, label {
    width: 50px;
}
.btn {
    border: none;
    border-radius: 5px 5px;
}

