<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js" integrity="sha512-EmNxF3E6bM0Xg1zvmkeYD3HDBeGxtsG92IxFt1myNZhXdCav9MzvuH/zNMBU1DmIPN6njrhX1VTbqdJxQ2wHDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Accessibility Evaluation</title>
</head>

<body>
    <!-- side bar -->
    <div class="side-bar d-flex flex-column flex-shrink-0 p-3">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-black text-decoration-none" style="margin-left: 1rem">
          <span class="fs-4" style="font-family: Verdana;">Analysis</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/" class="nav-link" id="overall">
              Overall
            </a>
          </li>
          <li>
            <a href="/districts" class="nav-link">
              Districts
            </a>
          </li>
          <li>
            <a href="/trend" class="nav-link">
              Trend
            </a>
          </li>
          <li>
            <a href="/gp-detail/loc" class="nav-link" aria-current="page" style="color: rgb(117, 146, 191);font-weight: 600;background-color: rgb(223, 232, 241);">
              GP Detail
            </a>
          </li>
        </ul>
        <hr>
    </div>
    
    <main class="col-md-9 col-lg-10 px-md-4" style="margin-left: 230px;">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h3 style="font-family: sans-serif;color: rgb(117, 146, 191);">GP Detail</h3>
      </div>

      <h4>id: {{ report_id }}</h4>

      
    </main>
    
</body>
</html>

